
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html{
  scroll-behavior: smooth;
 }

 body{
  font-family: 'Poppins', sans-serif;
  background: #0D071C;
  color: white;

  overflow-x: hidden;
 }

 a{
  text-decoration: none;
 }

 button{
  font-family: inherit;
 }

 img{
    max-width: 100%;
    display: block;
 }

 .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

 
